<h1>{{ title }}</h1>
<p>This is my portfolio: by Sam Jackson.</p>
<p>About me: I am a student of Georgian College`s Computer Programming course. I have reached the Dean`s list all 3 semesters.</p>
<p>I am a mature student from Barrie, Ontario and am looking for work in the software development, IT, and networking fields.</p>
<p>Please feel free to reach me at jacksonosamuel@gmail.com</p>