<h1>{{ title }}</h1>
<script>
    const myKeyValues = window.location.search;
    const urlParams = new URLSearchParams(myKeyValues);

    const param1 = urlParams.get('name');
    const param2 = urlParams.get('email');
    const param3 = urlParams.getAll('message');
</script>
<p id="sent"></p>
<p id="mess"></p>
<br>
<p><a href="./">Home</a></p>
</section>