<section class="Andy">
    <h1>{{title}}</h1>
    <p>About my father</p>
    <ul>
        <li>He is a retired operator and manager at Hydro One.</li>
        <br>
        <li>He went to school for civil engineering.</li>
        <br>
        <li> He is 59 years old.</li>
        <br>
    </ul>
    <p><a href="./">Home</a></p>
</section>