<h1>{{title}}</h1>
<p>Welcome to {{title}} Homepage</p>
<ul>
    <li><a href="./about">About</a></li>
    <li><a href="./projects">My Projects</a></li>
    <li><a href="./contact">Contact Me</a></li>
</ul>
