<section class="Noah">
    <h1>{{title}}</h1>
    <p>About my brother</p>
    <ul>
        <li>He works at Chorus Entertainment as a graphic designer for commercial editing.</li>
        <br>
        <li>He went to school for film and producing.</li>
        <br>
        <li> He is 27 years old.</li>
        <br>
    </ul>
    <p><a href="./">Home</a></p>
</section>