<section class="projects">
    <h1>{{title}}</h1>
    <p>Welcome to My Projects</p>
    <ul>
        <li><a href="https://github.com/SamOJackson/COMP2068">JavaScript Fundamentals, 2023</a></li>
        <br>
        <li><a href="https://github.com/SamOJackson/ASP.net">ASP.NET Video Game Cheat//Codes Website, 2023</a></li>
        <br>
        <li><a href="https://github.com/SamOJackson/comp1011Assignment2_100137493">Java Assignment Car-Android App, 2023</a></li>
        <br>
    </ul>

<a href="https://ibb.co/YDhrNSb"><img src="https://i.ibb.co/3fcJTbk/odd.png" alt="odd" border="0" /></a>


<p><a href="./">Home</a></p>
</section>