<section class="Sachi">
    <h1>{{title}}</h1>
    <p>About my mother</p>
    <ul>
        <li>She is a Kindergarden teacher and was a stay at home mother who raised us.</li>
        <br>
        <li>She went to school for Early Childhood Education and Teaching.</li>
        <br>
        <li> She is 57 years old.</li>
        <br>
    </ul>
    <p><a href="./">Home</a></p>
</section>