<section class="Sam">
    <h1>{{title}}</h1>
    <p>About myself</p>
    <ul>
        <li>I am a mature student in the Georgian College course of Computer Programming.</li>
        <br>
        <li>I initially studied post-education at Dalhousie university for Philosophy and Classics.</li>
        <br>
        <li>I am 31 years old.</li>
        <br>
    </ul>
    <p><a href="./">Home</a></p>
</section>